/* misure conenitori macroaree */
nav {
    height: 70px;
}

aside {
    width: 150px;
    height: calc(100vh - 70px);

    /* test */
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

section {
    width: calc(100vw - 150px);
    height: calc(100vh - 70px);

    /* test */
    background-color:red;
}
/* / misure conenitori macroaree */

/* ___________________________________ */

/* nav */
.lente-relative {
    position: relative;
}
.fa-magnifying-glass {
    position: absolute;
}
/* / nav */

/* ___________________________________ */

/* aside */
aside li:hover {
    background-color: rgba(128, 128, 128, 0.514);
}
@media screen and (max-width : 992px) {
    aside {
        width: 75px;
    }
    section {
        width: calc(100vw - 75px);
        height: calc(100vh - 70px);
    
        /* test */
        background-color:red;
    }
}
/* / aside */

/* ___________________________________ */


