/* misure conenitori macroaree */
nav {
    height: 70px;
}

aside {
    width: 150px;
    
    /* test */
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

section {
    width: calc(100vw - 150px);
    height: calc(100% - 70px);

    /* test */
    background-color:red;
}

/* / misure conenitori macroaree */

/* ___________________________________ */

/* nav */
.lente-relative {
    position: relative;
}
.fa-magnifying-glass {
    position: absolute;
}
/* / nav */

/* ___________________________________ */

/* aside */
aside li:hover {
    background-color: rgba(128, 128, 128, 0.514);
}
@media screen and (max-width : 992px) {
    aside {
        width: 75px;
    }
    section {
        width: calc(100vw - 75px);
        height: calc(100vh - 70px);
    
        /* test */
        background-color:red;

        overflow-y: auto;
    }
}
/* / aside */

/* ___________________________________ */

/* header */
header {
    background-color: #1f71e9;
}

.__button {
    font-size: 10px;
    background-color: #165bba;
}

.__fs {
    font-size: 15px;
}
/* / header */

/* ___________________________________ */

/* menu laterale a scomparsa */
.data-inizio {
    font-size: 15px;
}

@media screen and (max-width : 991px) {
    .offcanvas.offcanvas-end {
        width: 100%!important;
    }
}
/* / menu laterale a scomparsa */
